<div class="panel-group" id="notesaccordion" role="tablist" aria-multiselectable="true">
	
	<%= render partial: 'notes/outstanding', locals: { notes: @outstanding, comments: @comments } %>
	
	<% categories.each do |c| %>

		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="heading<%= c.notedetails %>">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= c.notedetails %>" aria-expanded="true" aria-controls="collapse<%= c.notedetails %>">
					<%= c.notedetails %>
					</a>
				</h4>
			</div>
			<div id="collapse<%= c.notedetails %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading<%= c.notedetails %>">
				
				<%= render partial: 'notes/fillaccordion', locals: { fillnotes: notes.where("notetype = ?", c.notedetails), comments: @comments } %>
				
			</div>
		</div>

	<% end %>  

</div>
</div>
