<%= form_tag('meetings/setrecallid', remote: true, html: { method: "get", class: "form-horizontal", style: "display:inline;" }) do %>
  <div class="modal-body">
    <ul class="errors"></ul>

    <div class="control-group">
      <%= label :fc_select, 'FC' %>
      <div class="controls">
       <%= collection_select :fc, :fc, @fcs, :fc, :fc, {}, { required: 'true', autofocus: 'false', class: 'form-control'} %>
      </div>
    </div>
    
    <div class="control-group">
      <%= label :meetingtypes_select, 'Meeting Type' %>
      <div class="controls">
       <%= select_tag :meetingtype, options_for_select(@meetingtypes.collect { |meetingtype| [meetingtype.meetingtype.titleize, meetingtype.meetingtype] }, 1), { id: 'meetingtypes_select', required: 'true', autofocus: 'false', class: 'form-control'} %>
      </div>
    </div>

    <div class="control-group">
      <%= label :meetingdate, 'Date' %>
      <div class="controls">
       <%= select_tag :meetingdate, options_for_select(@meetingdates.collect { |meetingdate| [meetingdate.batchid, meetingdate.batchid] }, 1), { id: 'meetingdates_select', required: 'true', autofocus: 'false', class: 'form-control'} %>
      </div>
    </div>
    
  </div>
  <div class="modal-footer">
    <%= submit_tag "Find Meeting", class: "btn btn-primary", :id => "continuemeeting" %>
    <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
  </div>
<% end %>
