<%= form_for @comment, url: new_comment_path, remote: true do |f| %>

	<%= f.hidden_field :noteid, :value => params[:id] %>
	<%= f.hidden_field :meetingid, :value => @note.meetingid %>
  
	 
		<div class="form-group form-group-sm">
			<div class="input-group input-group-sm">
			  <%= f.text_area :comment, { :class => 'form-control', :required => 'required', :placeholder => 'Add comments' } %>
				<span class="input-group-btn"><button type="submit" class="btn btn-default">Add</button>
			</div></span>
		</div>
	<% if session[:activeuser].nil? %> 
	<div class="form-group form-group-sm">
    <%= f.text_field :enteredby, { :class => 'form-control', :value => session[:activeuser], :required => 'required', :placeholder => 'Comment entered by' } %>
  </div>
  <% end %>

	
	
<% end %>

