<div class='col-md-8'>

<%= form_tag('/attendees/create', remote: true, html: { class: "form-inline", style: "display:inline;" }) do %>

    <% unless @attendees.nil? %>
		  <% @attendees.each do |a| %>
		  
				<div class="input-group">

					<span class="input-group-addon" id="labelattendance"><%= a.dept %>
					<%= check_box_tag :attendance, true, {class: 'form-control'} %></span>

					<span class="input-group-addon" id="labelproxy">Proxy
					<%= check_box_tag :proxy, false, {class: 'form-control'} %></span>

					<%= text_field_tag :attendees, a.attendees, {class: 'form-control', placeholder: 'Attendees'} %>
				</div>
   
   		<% end %>
		<% else %>
		
			<h4>Please generate your attendees</h4>
		
		<% end %>
		<br>
    <%= submit_tag "Save Attendees", class: "btn btn-primary btn-sm" %></br>
<% end %>
</div>
