<div class='col-md-6'>

<%= form_tag('/attendees/create', remote: true, html: { class: "form-inline", style: "display:inline;" }) do %>
		<div class="form-group form-group-sm">
		
		<table class="table table-condensed">
		
    <% unless @attendees.nil? %>
		  <% @attendees.each do |a| %>
		  <tr>
					<td class='col-sm-1'><%= check_box_tag a.id, a.attendance, {class: 'form-control'} %> <%= a.dept %></td>

					<td class='col-sm-1'><%= check_box_tag a.id, a.proxy, {class: 'form-control'} %> Proxy</td>

					<td class='col-sm-4'><%= text_field_tag a.id, a.attendees, {class: 'form-control', placeholder: 'Attendees'} %></td>
     	</tr>
   		<% end %>
   	</table>
   	
		<% else %>
		
			<h4>Please generate your attendees</h4>
		
		<% end %>
		<br>
    <%= submit_tag "Save Attendees", class: "btn btn-primary btn-sm" %></br>
		</div>
<% end %>
</div>
